@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Primary colors
  dark: #001427
  hooker's green: #708D81
  jasime: #F4D58D
  red: #BF0603
*/

body {
  /* background-color: #FFFFFF; */
  background-color: #0a1117;
}